@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 1px;
}

body {
    min-height: max(884px, 100dvh);
}
