@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Sansita', sans-serif !important;
}

body {
  cursor: none;
}


body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #0a0000,
    #1a0a00,
    #331400,
    #662200,
    #994000,
    #331400,
    #1a0a00,
    #0a0000
  );
}
